.header {
    margin-bottom: 4rem;

    &-container {
        height: 44rem;
        padding: 2rem;
        overflow: hidden;
        background-color: $color-7;
        border-bottom-right-radius: 7.5rem;
        margin-bottom: 4rem;

        @media (max-width:991.98px) {
            padding-left: .5rem;
            padding-right: .5rem;
            border-bottom-right-radius: 0;
        }

        @media (max-width:576.98px) {
            padding-top: 1rem;
        }
    }
}

.main-title {
    margin-bottom: 2rem !important;
    font-family: $font-IRANSansMobile;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: $color-3;
}

.categories-container {
    margin-bottom: 2rem !important;
    width: calc(100% + 2rem);
    margin: calc(-1rem);
    display: flex;
    flex-wrap: wrap;
}

.snappfood-app {
    margin-left: 2.5rem;
    margin-right: 2.5rem;

    @media (max-width:576.98px) {
        margin: 0;
    }

    .app-container {
        position: relative;
        margin-top: 9.375rem;
        padding: 4rem;
        background-color: $color-6;
        border-bottom-right-radius: 7.5rem;
        display: flex;
        flex-wrap: nowrap;

        @media (max-width:991.98px) {
            border-bottom-right-radius: 0;
            margin-top: 2.5rem;
            padding-right: .5rem;
            padding-left: .5rem;
        }
    }

    .app-content {
        max-width: 60%;
        padding-right: 5rem;
        padding-left: 6rem;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        @media (max-width:992px) {
            max-width: 100%;
            padding-right: 1rem;
            padding-left: 1rem;
        }
    }
}

.salesPerdon-registration-container {
    margin-top: 10.0625rem;
    padding: 3rem;
    background-color: $color-7;
    border-radius: 2rem;

    @media (max-width:576px) {
        padding: 3rem .5rem;
    }
}

.cities {
    padding: 2rem;
    background-color: $color-8;
    border-top: 0.0625rem solid $color-6;

    &-container {
        width: calc(100% + 0.5rem);
        margin: calc(-0.25rem);
        display: grid;
        grid-template-columns: repeat(3, auto);

        @media (min-width:768px) {
            grid-template-columns: repeat(4, auto);
        }

        @media (min-width:992px) {
            grid-template-columns: repeat(6, auto);
        }

        @media (min-width:1200px) {
            grid-template-columns: repeat(12, auto);
        }
    }
}

.footer {
    padding: 3rem;
    background-color: $color-7;

    &-container {
        width: calc(100% + 5rem);
        margin: calc(-2.5rem);
    }

    .social-media {
        padding: calc(2rem);
        
        @media (max-width:768px) {
            padding: 2.5rem .5rem;
        }

        @media (max-width:576px) {
            padding: 1.5rem 0;
        }
    }

    .usefull-links {
        padding: calc(2rem);

        @media (max-width:768px) {
            padding: 2.5rem .5rem;
        }

        @media (max-width:576px) {
            padding: 1.5rem 0;
        }
    }

    .standard {
        padding: 2.5rem;
        flex-grow: 1;

        & img:nth-of-type(1) {
            max-width: 125px;
        }

        & img:nth-of-type(2) {
            max-height: 75px;
        }
    }
}